<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fitness Challenge</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("f4713a69c0f4c6c93d9545ea966e86b0");</script><!-- end Mixpanel -->
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><span><a href="/" class="btn btn-info">Home</a></span></li>
            <li><span><a href="/rules" class="btn btn-info">Rules</a></span></li>

          <%= if logged_in?(@conn) do %>
            <script type="text/javascript">
              mixpanel.identify(current_user(@conn).email);
            </script>
            <li><span><a href="/logs/new" class="btn btn-info">Log an Activity</a></span></li>
            <li><span style="padding: 6px 12px; display: inline-block;"><%= current_user(@conn).name %></span></li>
            <li><%= link "Logout", to: session_path(@conn, :delete), method: :delete, class: "btn btn-primary" %></li>
          <% else %>
            <li><span><%= link "Login",    to: session_path(@conn, :new), class: "btn btn-primary" %></span></li>
            <li><span><%= link "Register", to: registration_path(@conn, :new), class: "btn btn-primary" %></span></li>
          <% end %>
        </ul>
        <br><br><br>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript">
    mixpanel.track_links(".nav a", "click nav link", {
        "referrer": document.referrer
    });
    </script>
  </body>
</html>
