<div class="jumbotron">
  <h2>Download the Apps</h2>
<p><a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/9mavy2bmqenwyu1/manifest.plist">Download iPhone/iPad App</a></p>
