<div class="jumbotron">
  <h2>Welcome to Challenge Cup Club!</h2>
  <p class="lead">To join in, <a href="/register">sign up</a>. You will be assigned a team after registration has been closed.</p>
  <p>If you have any problems using this website, please contact Rob or Kieran.</p>
  <p>Apps for iOS and Android will be avaliable shortly.</p>
</div>

<div class="row marketing">

</div>
